app = "treekeeper"
kill_signal = "SIGINT" 
kill_timeout = 5

LOGLEVEL="INFO"

[experimental]
  allowed_public_ports = []
  auto_rollback = false

[[services]]
  internal_port = 8080
  protocol = "tcp"
  script_checks = []
  http_checks = []
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 6
    timeout = "2s"
